* {
    background-color: #85AFD4;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    
       
}

h3 {
    text-align: center;
}

h1 {
    position: absolute;
    top: 5%;
    left: 35%;
}



.firstLabel {
    position: absolute;
    left: 35%; 
    top: 10%;
}

.firstInput {
    position: absolute;
    left: 35%; 
    top: 12%;
}

.secondLabel {
    position: absolute;
    left: 50%;
    top: 10%;
}

.secondInput {
    position: absolute;
    left: 50%;
    top: 12%;
}

.thirdLabel {
    position: absolute;
    left: 35%;
    top: 14.5%;
}

.thirdInput {
    position: absolute;
    left: 50%;
    top: 14.5%;
}

.fourthLabel {
    position: absolute;
    left: 35%;
    top: 17%;
}

.fourthInput {
    position: absolute;
    left: 50%;
    top: 17%;
}

.fifthLabel {
    position: absolute;
    left: 35%;
    top: 19.5%;
}

.fifthInput {
    position: absolute;
    left: 50%;
    top: 19.5%;
}

.sixthLabel {
    position: absolute;
    left: 35%;
    top: 23.5%;
}

.sixthInput {
    position: absolute;
    left: 50%;
    top: 23.5%;
}

.seventhLabel {
    position: absolute;
    left: 35%;
    top: 28.5%;
}

.radioOne {
    position: absolute;
    top: 26.5%;
    left: 50%;
}

.radioOneLabel {
    position: absolute;
    top: 26.2%;
    left: 51%;
}

.radioTwo {
    position: absolute;
    top: 28.5%;
    left: 50%;
}

.radioThree {
    position: absolute;
    top: 30.5%;
    left: 50%;
}

.radioTwoLabel {
    position: absolute;
    left: 51%;
    top: 28.2%;
}

.radioThreeLabel {
    position: absolute;
    left: 51%;
    top: 30.5%;
}

.emailLabel {
    position: absolute;
    top: 35%;
    left: 35%;
}

.emailInput {
    position: absolute;
    top: 35%;
    left: 50%;
}

.phoneLabel {
    position: absolute;
    top: 38%;
    left: 35%;
}

.phoneInput {
    position: absolute;
    top: 38%;
    left: 50%;
}

.hair {
    position: absolute;
    top: 41%;
    left: 35%;
}

.inputHair {
    position: absolute;
    top: 41%;
    left: 50%;
}

.textArea {
    position: absolute;
    top: 46%;
    left: 35%;
}

.realTA {
    position: absolute;
    top: 48%;
    left: 35%;
    width: 470px;
    height: 230px;
}

.checkBox {
    position: absolute;
    top: 75%;
    left: 35%;
}

.notifLabel {
    position: absolute;
    top: 74.8%;
    left: 36%;
}

.btn1 {
    position: absolute;
    top: 75%;
    left: 53.5%;
    background-color: #E47272;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    background-color: #E47272;;
}