* { /* Everything */
    background-color: #85AFD4;
    color: white;
    
}

body { /* Body (Font,) */
    
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;   
    
}

.fpass1 { /* Password Form */
    padding: 5px;
    text-align: left;
    padding: 15px 80px 15px 20px;
}

.femail1 { /* Email Form */
    text-align: left;
    padding: 15px 80px 15px 20px;
}


.btn1 { /* Button (SUBMIT) */
    padding: 5px 45px 5px 45px;
    margin-left: 38px;
    background-color: #E47272;
    color: white;
    border-radius: 20px;
    margin-left: 46%;
}


h2, h1, p { /* Header Two, One, Paragraphs */
    text-align: center;
}



form { /* Full Form */
    margin-left: 43%;
}


